/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL WIDTH FIX */
html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  display: block; /* IMPORTANT: remove flex */
}